
body {
    box-sizing: border-box;
}

.navbar-brand {
    font-size: xx-large;
    display: flex;
}

.titre {
    padding-top: 3px;
}

.searchBtn {
    color: #ff871f;
    border-color: #ff871f;
}

.searchBtn:hover {
    background-color: #ff871f;
    color: white;
}

.questionList {
    width: 70%;
    margin: auto;
}

.topList {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.askBtn {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #0a95ff;
    color: white;
}

.askBtn:hover {
    border-color: #0a95ff;
    background-color: white;
    border-color: #0a95ff;
    color: #0a95ff;
}

hr {
    width: 100%;
}
.questionTitle {
    margin: 20px;
    display: flex;
    align-self: center;
}

.detailsBtn {
    display: flex;
    align-self: center;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff871f;
    color: white;
}

.detailsBtn:hover {
    background-color: white;
    color: #ff871f;
}
